{
  "db": {
    "host": "localhost",
    "database": "sm",
    "user": "sm",
    "password": "password"
  },
  "elasticsearch": {
    "index": "sm",
    "host": "localhost",
    "port": 9200
  },
  "slack": {
    "channel": "",
    "webhook_url": ""
  },
  "jwt": {
    "secret": "longSecretKey"
  }
}
