# -*- conf -*-

[program:sm-update-daemon]
process_name = sm-update-daemon
environment = PATH="{{ miniconda_prefix }}/envs/{{ miniconda_env.name }}/bin"
directory = {{ sm_home }}
command = {{ miniconda_prefix }}/envs/{{ miniconda_env.name }}/bin/python scripts/run_sm_daemon.py --name=update
redirect_stderr = true
stdout_logfile = {{ sm_home }}/logs/sm-update-daemon.log
numprocs = 1
numprocs_start = 8000
