{% extends "main.html" %}

{% block body %}
    <div class="panel panel-primary">
      <div class="panel-heading">Results overview</div>
      <table id="table-demo" class="table table-striped" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th>Database</th>
            <th>Dataset</th>
            <th>Molecular formula</th>
            <th width="200">Name</th>
            <th>Database ID</th>
            <th>Spatial presence</th>
            <th>Image correlation</th>
            <th>Spectral correlation</th>
            <th>Adduct</th>
            <th>Job id</th>
            <th>Dataset id</th>
            <th>SF id</th>
          </tr>
          <tr>
            <th id="fil-db"></th>
            <th id="fil-ds"></th>
            <th id="fil-nm"></th>
            <th id="fil-sf"></th>
            <th id="fil-id"></th>
            <th id="fil-sp"></th>
            <th id="fil-ic"></th>
            <th id="fil-sc"></th>
            <th id="fil-ad"></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
   
        <!--tfoot>
          <tr>
            <th>Database</th>
            <th>Dataset</th>
            <th>Molecular formula</th>
            <th>Name</th>
            <th>Database ID</th>
            <th>Spatial presence</th>
            <th>Image correlation</th>
            <th>Spectral correlation</th>
            <th>Adduct</th>
            <th>Job id</th>
            <th>Dataset id</th>
            <th>SF id</th>
          </tr>
        </tfoot-->
      </table>
    </div>

    <div class="row">
      <div class="col-md-8">
        <div class="container-fluid">
          <div class="page-header">
            <div class="row" style="text-align=center;">
              <h2 id="about-name"></h2>
            </div>
            <div class="row" id="about-sf">
            </div>
            <div class="row">
              <div id="molecular_chart"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="container-fluid">
          <div class="row">
            <div id="ionimage_total"></div>
          </div>
          <div class="row" style="padding-top:10px">
            <div id="ionimage_total_cb"></div>
          </div>
        </div>
      </div>
    </div>

    <div id="imagediv">
    </div>

    <div class="container-fluid">
        <div class="row">
            <div id="peaks-line-chart" style="width: 100%; height: 355px;">
            </div>
        </div>
    </div>

{% end %}


{% block modals %}
 <div class="modal fade" id="mzmodal">
  <div class="modal-dialog" style="width:80%;">
    <div class="modal-content"><div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title">m/z images</h4>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-lg-8" style="text-align:right;">Average correlation with the monoisotopic (first) image:</div>
        <div class="col-lg-4"><span id="span-corriso"></span></div>
      </div>
      <div class="row">
        <div class="col-lg-8" style="text-align:right;">Correlation with peak intensities:</div>
        <div class="col-lg-4"><span id="span-corrint"></span></div>
      </div>
      <p>The images below correspond to individual isotope peaks. Image entropies are shown below the images.</p>
      <div id="mz-body">
      </div>
    </div>
  </div>
{% end %}
