<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SM Web App</title>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="http://sm-engine-webapp.s3-website-eu-west-1.amazonaws.com/css/dataTables/jquery.dataTables.yadcf.css" type="text/css" media="screen" rel="stylesheet"/>

    <link href="/static/css/sin.css" rel="stylesheet">
    <link href="/static/css/sm.css" rel="stylesheet">


    <!-- Display images pixelated; this is a hack that makes it work for all browsers -->
    <style type="text/css">
        img {
            image-rendering: optimizeSpeed;
            image-rendering: -moz-crisp-edges;          /* Firefox */
            image-rendering: -o-crisp-edges;            /* Opera */
            image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
            image-rendering: pixelated;                 /* Chrome */
            image-rendering: optimize-contrast;         /* CSS3 Proposed */
            -ms-interpolation-mode: nearest-neighbor;   /* IE8+ */
        }
	</style>


    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha256-KXn5puMvxCw+dAYznun+drMdG1IFl3agK0p/pqT9KAo= sha512-2e8qq0ETcfWRI4HJBzQiA3UoyFk6tbNyG+qSaIBZLyW9Xf3sWZHN/lxe9fTh1U45DpPf07yj94KsUHHWe4Yk1A==" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/jquery/1.11.3/jquery.min.js"></script>

    <script src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.10/api/fnGetAdjacentTr.js"></script>
    <script src="http://sm-engine-webapp.s3-website-eu-west-1.amazonaws.com/js/dataTables/jquery.dataTables.columnFilter.js"></script>
    <script src="http://sm-engine-webapp.s3-website-eu-west-1.amazonaws.com/js/dataTables/jquery.dataTables.yadcf.js"></script>

    <script src="http://sm-engine-webapp.s3-website-eu-west-1.amazonaws.com/js/amcharts/amcharts.js"></script>
    <script src="http://sm-engine-webapp.s3-website-eu-west-1.amazonaws.com/js/amcharts/serial.js"></script>

    <script src="/static/js/sin.js"></script>
    <script src="/static/js/sm.js"></script>

  </head>
  <body>
    <div class="container-fluid">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">Spatial metabolomics server</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <p id="navbarname" class="navbar-brand navbar-right"></p>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
    </div>

    {% block body %}
    {% end %}

    {% block modals %}
    {% end %}
  </body>
</html>
