filebeat.inputs: {{ filebeat.inputs }}

filebeat.config.modules:
  path: ${path.config}/modules.d/*.yml
  reload.enabled: false

setup:
  template:
    name: "filebeat"
    pattern: "filebeat-*"
    settings.index.number_of_shards: 3
  kibana.host: "{{ filebeat.kibana.host }}"

fields_under_root: true
fields:
  env: "{{ stage }}"
  instance_id: "{{ filebeat.instance_id }}"

output.elasticsearch:
  hosts: ["{{ filebeat.elasticsearch.host }}"]
  index: "{{ filebeat.elasticsearch.index }}"
  pipeline: {{ filebeat.elasticsearch.ingest_node_pipeline_id }}

logging:
  level: {{ filebeat.logging_level }}
  json: false
