# -*- conf -*-

[program:{{ sm_annotate_daemon_app_name }}]
process_name = {{ sm_annotate_daemon_app_name }}
directory = {{ sm_home }}
environment = SPARK_HOME="{{ spark_home }}",PYTHONPATH="{{ spark_home }}/python",PYSPARK_PYTHON="{{ miniconda_prefix }}/envs/sm/bin/python"
command = bash scripts/run.sh scripts/run_sm_daemon.py --name=annotate
redirect_stderr = true
stdout_logfile = {{ sm_home }}/logs/{{ sm_annotate_daemon_app_name }}.log
numprocs = 1
numprocs_start = 8000
startsecs = 10
