pyImagingMSpec==0.1.4
cpyImagingMSpec==0.2.4
pyMSpec==0.1.2
cpyMSpec==0.4.2  # Drop all isotopic patterns if updated!
cpyMSpec_0_3_5==0.3.5
pyimzML==1.2.6
requests
pytest
recommonmark
boto3
fabric3
pypng==0.0.19    # 0.0.20 introduced incompatible API changes
pyyaml
elasticsearch-dsl>=5.0.0,<6.0.0
pika==0.11.0b1
bottle
Pillow==7.2.0
pyopenms==2.2.0
numpy>=1.11.2
scipy>=0.18.1
matplotlib>=2
pandas>=0.22
cffi
psycopg2-binary==2.8.2
cherrypy<9
redis
scikit-learn==0.20.2
pyspark[sql]==2.3.3
coverage
codecov
pysparkling
docutils<0.15  # botocore requirement
pylint==2.4.3  # to prevent new pylint rules failing CI job
black==19.10b0  # to prevent new black rules failing CI job
s3fs