{
  "db": {
    "host": "localhost",
    "database": "sm",
    "user": "sm",
    "password": ""
  },
  "fs": {
    "data_dir": "/tmp",
    "local": true
  },
  "hdfs": {
    "namenode": "localhost"
  },
  "spark": {
    "master": "local[*]",
    "executor.memory": "1g"
  }
}
