$className: 'dataset-overview';
$header-height: 64px;

.dataset-browser-container{
  @apply flex flex-row flex-wrap p-0;
  min-height: calc(100vh - #{$header-height});

  .label{
    width: 70px;
  }

  .ion-image-holder{
    @apply flex flex-col items-center justify-start relative;
    min-height: 500px;
    width: 100%;
    background: rgba(0,0,0,0.01);
    height: 100%;

    .av-icon-button {
      @apply self-center mb-2 mr-1 h-6;

      svg {
        display: block;
      }
    }

    .setting-icon{
      height: 20px;
      width: 20px;
      color: black;
    }
  }

  .ion-image{
    width: calc(100% - 24px);
    height: 400px;
    object-fit: contain;
  }

  .info-icon{
    font-size: 30px;
    color: gray;
  }

  .loader-holder{
    @apply absolute flex flex-row items-start justify-center;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.02);
    padding-top: 30%;
  }

  .formula-input{
    max-width: 22.05rem;
  }

  .select-box{
    max-width: 7rem;
  }

  .select-box-mini{
    max-width: 5rem;
  }

  p {
    @apply my-0 max-w-measure-4;
  }

  h1 {
    @apply text-4xl leading-12 font-display;
  }

  .dataset-browser-wrapper{
    @apply p-4 max-w-4xl box-border mx-auto leading-6 text-base;
  }

  .dataset-browser-holder{
    @apply w-full h-full border-2 border-dashed border-gray-300 relative;
    overflow: hidden;
  }

  .dataset-browser-holder-header{
    @apply p-2 max-w-4xl box-border mx-auto leading-6 text-base text-center font-bold;
    background: #F1F5F8;
  }

  .dataset-browser-holder-filter-box{
    @apply p-2 max-w-4xl box-border mx-auto leading-6 text-base;
    min-height: 100px;

    p{
      @apply mb-2;
    }

    .filter-holder{
      @apply flex flex-row w-full items-end;
      min-height: 30px;
    }
  }
}


