/* Resets */

.text-inherit {
  color: inherit;
}

.bg-none {
  background: none;
}

.button-reset {
  @apply bg-none text-inherit border-none outline-none cursor-pointer p-0;
}

@tailwind base;

@tailwind components;

@tailwind utilities;

/* Extra utilities */

.pixelated {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
  /* Edge still doesn't support pixelated image interpolation, so ion images look bad there */
}

.transition-fade {
  transition-property: opacity, visibility;
}
