$header-height: 64px;
$mini-height: 28px;

.groups-list-container{
  @apply flex flex-row flex-wrap p-0 justify-center;
  min-height: calc(100vh - #{$header-height});

  .groups-list-wrapper{
    @apply px-18 py-6 w-full max-w-4xl box-border mx-auto leading-6 text-base;

    .groups-list-header{
      @apply flex justify-between flex-wrap items-center pb-1;
      box-shadow: 0px 1px 0px 0 rgba(0, 0, 0, 0.1);

      .group-name-filter{
        //height: $mini-height;
      }

      .group-list-create-btn{
        //height: $mini-height;
      }
    }


    .groups-list-content{
      @apply flex justify-center flex-wrap items-center py-4;

      p{
        font-weight: 400;
        font-size: 14px;
        color: gray;
      }

    }


  }
}