.sm-workflow {
  counter-reset: workflow;
  list-style: none;
  line-height: 24px;
  margin: 0;
  padding: 0;
}

.sm-workflow li {
  border-left: 2px solid hsl(208, 33%, 89%);
  color: hsl(208, 22%, 49%);
  display: flex;
  flex-direction: column;
  margin-left: 36px;
  max-width: 60ch;
  padding-left: 48px;
  position: relative;
  transition: 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}

.sm-workflow li:last-child {
  border-color: transparent; /* border still required for alignment */
}

.sm-workflow li > *,
.sm-workflow form > * {
  margin: 0 0 12px;
}

.sm-workflow li > .sm-workflow-header {
  margin: 0;
  line-height: 48px;
}

/* hack allows left border to connect to next li */
.sm-workflow li > :last-child {
  margin-bottom: 48px;
}

/* .sm-workflow form > :last-child {
  margin-bottom: 0;
} */

.sm-workflow hr {
  border: none;
  border-bottom: 1px solid #DCDFE6; /* Grey from Element */
  margin-bottom: 11px;
}

.sm-workflow label {
  color: inherit;
  font-weight: 500;
  cursor: pointer;
}

.sm-workflow button,
.sm-workflow .el-input {
  margin: 4px 0; /* 2x line height (48px) - height (40px) / 2 */
}

.sm-workflow .el-textarea {
  margin-top: 4px;
}

.sm-workflow .el-input {
  padding-bottom: 12px; /* 4px + 1/2 line (12px) */
}

.sm-workflow-optional-form {
  color: hsl(208, 22%, 49%);
}

.sm-workflow-optional-form.enabled {
  color: inherit;
}


/* status indicators */

.sm-workflow li:before {
  align-items: center;
  background: hsl(208, 33%, 89%);
  border-radius: 50%;
  color: hsl(208, 22%, 49%);
  content: counter(workflow);
  counter-increment: workflow;
  display: flex;
  font-size: 24px;
  font-weight: 700;
  height: 48px;
  justify-content: center;
  left: -25px; /* 50% plus 1px for the border */
  position: absolute;
  top: 0;
  transition: 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color, background;
  width: 48px;
}

.sm-workflow li.active {
  color: inherit;
}

.sm-workflow li.active:before {
  background: #008aff;
  color: #fff;
}

.sm-workflow li.done:before {
  content: '\e6da';
  font-family: element-icons !important;
  font-size: 26px; /* looked nicer being a few pixels different */
}


/* Element overrides */

.el-input-group__append, .el-input-group__prepend {
  color: hsl(208, 22%, 49%);
}

.sm-workflow .el-checkbox__label  {
  font-size: 16px;
}

.sm-workflow .el-checkbox__inner {
  border-color: hsl(208, 22%, 49%);
}


/* utils */

.baseline-grid {
  background-image: linear-gradient(180deg,red 1px,transparent 0);
  background-position: 0 0;
  background-repeat: repeat;
  background-size: 100% 24px;
}
