.sm-workflow {
  counter-reset: workflow;
  list-style: none;
  line-height: 24px;
  margin: 12px 0;
  padding: 0;
}

.sm-workflow li {
  border-left: 2px solid hsl(208, 33%, 89%);
  color: hsl(208, 22%, 49%);
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  max-width: 65ch;
  padding-left: 48px;
  position: relative;
  transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}

.sm-workflow li:last-child {
  border: none;
}

.sm-workflow li > *,
.sm-workflow form > * {
  margin: 0 0 12px;
}

.sm-workflow li > .sm-workflow-header {
  margin: 0;
  line-height: 48px;
}

/* hack allows left border to connect to next li */
.sm-workflow li > :last-child {
  margin-bottom: 36px;
}

.sm-workflow li:before {
  align-items: center;
  background: hsl(208, 33%, 89%);
  border-radius: 50%;
  color: hsl(208, 22%, 49%);
  content: counter(workflow);
  counter-increment: workflow;
  display: flex;
  font-size: 24px;
  font-weight: 700;
  height: 48px;
  justify-content: center;
  left: -24px;
  position: absolute;
  top: 0;
  transition: 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background, color;
  width: 48px;
}

.sm-workflow li.active {
  color: inherit;
}

.sm-workflow li.done:before {
  content: '';
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="hsl(208, 22%, 49%)" d="M10 14.59l6.3-6.3a1 1 0 011.4 1.42l-7 7a1 1 0 01-1.4 0l-3-3a1 1 0 011.4-1.42l2.3 2.3z"/></svg>');
  background-repeat: no-repeat;
  background-size: 87.5%;
  background-position: center;
}

.sm-workflow li.active:before {
  background-color: #008aff;
  color: #fff;
}

.sm-workflow li.active.done:before {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="hsl(208, 0%, 100%)" d="M10 14.59l6.3-6.3a1 1 0 011.4 1.42l-7 7a1 1 0 01-1.4 0l-3-3a1 1 0 011.4-1.42l2.3 2.3z"/></svg>');
}
