$bgColor: hsl(208, 36%, 96%);


.roi-content{
  @apply flex flex-col flex-wrap justify-center items-center;

  .roi-options{
    @apply flex flex-row flex-wrap justify-end items-center w-full pb-1;
    border-bottom: 1px solid lightgray;
  }

  .save-disabled{
    @apply cursor-not-allowed;
    opacity: 0.5;
  }

  .roi-save-icon-wrapper{
    @apply flex justify-center items-center h-6 w-6;
    margin-left: 3px !important;
    margin-right: -2px;
  }

  .roi-save-icon{
    scale: 0.8;
  }

  .roi-download-icon{
    @apply flex justify-center items-center h-6 w-6;
  }

  .roi-label{
    @apply font-bold;
  }

  .roi-item{
    @apply flex w-full justify-center items-center flex-wrap;
    height: 60px;
    border-bottom: 1px solid lightgray;
  }

  .roi-channels{
    @apply flex w-full justify-between items-center relative;
    height: 10px;
  }
}

.roi-popper{
  background: $bgColor;

  .popper__arrow::after{
    border-bottom-color: $bgColor !important;
  }
}

.roi-btn{
  position: relative;
  margin-right: -4px;

  &::after {
    content: '';
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    box-sizing: border-box;
    border-style: solid;
    border-color: transparent;
  }

}

.roi-container{
  .active{
    color: theme('colors.blue.300') !important;

    &::after {
      border-bottom-width: 3px;
      border-bottom-color: theme('colors.blue.700');
    }
  }
}


.roi-badge{
  color: transparent;
  @apply flex justify-center items-center;
}

.roi-badge-selected{

  &::after{
    content: '';
    position: absolute;
    top: -4px;
    left: 3px;
    right: 3px;
    bottom: 2px;
    box-sizing: border-box;
    border-style: solid;
    border-bottom-width: 3px;
    border-color: transparent;
    border-bottom-color: hsl(208, 76%, 39%);
  }
}

.roi-save-tooltip{
  max-width: 220px;
  text-align: justify;
}