# -*- conf -*-

[program:sm-job-daemon]
process_name = sm-job-daemon-%(process_num)s
directory = {{ sm_home }}
environment = SPARK_HOME="{{ spark_home }}",PYTHONPATH="{{ spark_home }}/python"
command = bash scripts/run.sh scripts/run_sm_job_daemon.py
redirect_stderr = true
stdout_logfile = {{ sm_home }}/logs/sm-job-daemon.log
numprocs = 1
numprocs_start = 8000
startretries=5
