{
  "db": {
    "host": "{{ postgres_host }}",
    "database": "sm",
    "user": "sm",
    "password": "{{ sm_postgres_password }}"
  },
  "elasticsearch": {
    "host": "{{ es_host }}"
  },
  "fs": {
    "base_path": "/opt/data/sm_data",
    "s3_base_path": "{{ sm_s3_path }}"
  },
  "spark": {
    "master": "spark://{{ ansible_hostname }}:7077",
    "spark.executor.memory": "2g",
    "spark.driver.memory": "2g",
    "spark.serializer": "org.apache.spark.serializer.KryoSerializer",
    "spark.kryoserializer.buffer.max": "128m"
  },
  "aws": {
    "aws_access_key_id": "{{ aws_access_key_id }}",
    "aws_secret_access_key": "{{ aws_secret_access_key }}"
  }
}
