.dataset-comparison-dialog{
  .dataset-comparison-dialog-grid{
    width: 100%;
    min-height: 200px;
    overflow-x: auto;
  }
  .dataset-comparison-dialog-row{
    @apply flex flex-row m-1;
    height: 100px;
  }

  .dataset-comparison-dialog-col{
    @apply flex items-center justify-center ml-1 mb-1;
    border: 1px solid black;
    width: 100%;
    height: 100px;
    min-width: 100px;
  }


  .sm-form-error{
    input{
      border-color: red;
    }
  }

  .text-danger{
    @apply mt-0 text-right;
  }
}

.ds-comparison-step{
  .el-tag{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}


.ds-options-popper {
  max-width: 30%;

  .el-select-dropdown__wrap {
    max-height: 186px !important;
  }
}

.grid-popper {
  max-width: 350px;

  .el-select-dropdown__wrap {
    max-height: 186px !important;
  }
}