.dataset-comparison-grid{
  width: 100%;
  min-height: 200px;
  overflow-x: auto;

  .channel-toggle{
      position: relative;

    &:after {
      content: '';
      position: absolute;
      top: -4px;
      left: -4px;
      right: -4px;
      bottom: -4px;
      box-sizing: border-box;
      border-style: solid;
      border-color: transparent;
    }
  }


  .active{
    &:after {
      border-bottom-width: 3px;
      border-bottom-color: theme('colors.blue.700');
    }
  }

  .ds-comparison-opacity-item{
    min-width: 170px;

    span{
      font-size: 10px;
      line-height: 1.2rem;
      white-space: nowrap;
      margin-left: 1px;
    }
  }

  .normalization-error-wrapper{
    height: 350px;
    width: 100%;
    @apply flex items-center justify-center;
  }

  .info-icon{
    font-size: 20px;
  }

  .dataset-comparison-extra{
    position: absolute;
    right: 8px;
    top: 33px;
    @apply flex flex-row justify-center	items-center;
  }

  .dataset-comparison-msm-badge{
    background: rgba(0,0,0,0.3);
    border-radius: 16px;
    color: white;
    padding: 0 5px;
    font-size: 11px;
  }

  .dataset-comparison-fdr-badge{
    background: rgba(0,0,0,0.3);
    border-radius: 16px;
    color: white;
    margin-left: 8px;
    padding: 0 5px;
    font-size: 11px;
  }

  .dataset-comparison-link{
    font-size: 10px;
    height: 20px;
    width: 20px;
    margin-left: 4px;
    margin-right: 4px;
  }

  .dataset-comparison-grid-row{
    @apply flex flex-row m-1;
  }

  .dataset-comparison-grid-col{
    @apply flex ml-1 mb-1 items-center flex-col;
    border: 1px solid lightgray;
    width: 100%;
    min-width: 100px;
    min-height: 300px;
  }

  .ds-comparison-item-line {
    @apply w-full flex items-center justify-center truncate;
    background: #F1F5F8;
  }

  .dataset-comparison-grid-ds-name{
    @apply truncate text-center;
    width: 400px;
  }

  .dataset-comparison-grid-item-header{
    @apply flex flex-row;
    background: #F1F5F8;
    padding: 4px 8px;
    width: calc(100% - 16px);
    border-top: 1px dashed lightgray;
    align-items: baseline;
    height: 22px;

    span{
      @apply mr-1;
    }

    .av-icon-button {
      @apply self-center mb-2 mr-1 h-6;

      svg {
        display: block;
      }
    }

    .setting-icon{
      height: 20px;
      width: 20px;
      color: black;
    }
  }

}


