.dataset-comparison-grid{
  width: 100%;
  min-height: 200px;
  overflow-x: auto;

  .dataset-comparison-extra{
    position: absolute;
    right: 8px;
    top: 33px;
    @apply flex flex-row justify-center	items-center;
  }

  .dataset-comparison-msm-badge{
    background: rgba(0,0,0,0.3);
    border-radius: 16px;
    color: white;
    padding: 0 5px;
    font-size: 11px;
  }

  .dataset-comparison-link{
    font-size: 10px;
    height: 20px;
    width: 20px;
    margin-left: 8px;
  }

  .dataset-comparison-grid-row{
    @apply flex flex-row m-1;
  }

  .dataset-comparison-grid-col{
    @apply flex ml-1 mb-1 items-center flex-col;
    border: 1px solid lightgray;
    width: 100%;
    min-width: 100px;
    min-height: 300px;
  }

  .dataset-comparison-grid-ds-name{
    @apply flex flex-row w-full justify-center items-center	font-medium;
    background: #F1F5F8;
  }

  .dataset-comparison-grid-item-header{
    @apply flex flex-row;
    background: #F1F5F8;
    padding: 4px 8px;
    width: calc(100% - 16px);
    border-top: 1px dashed lightgray;
    align-items: baseline;
    height: 22px;

    span{
      @apply mr-1;
    }

    .av-icon-button {
      @apply self-center mb-2 mr-1 h-6;

      svg {
        display: block;
      }
    }

    .setting-icon{
      height: 20px;
      width: 20px;
      color: black;
    }
  }

}


