# -*- conf -*-

[program:{{ sm_graphql_app_name }}]
process_name = {{ sm_graphql_app_name }}
environment = NODE_ENV="production",TS_NODE_TRANSPILE_ONLY="true"
directory = {{ sm_graphql_home }}
command = bash -c '. ~/.nvm/nvm.sh && nvm use && exec yarn run start'
redirect_stderr = true
stdout_logfile = {{ sm_graphql_home }}/logs/{{ sm_graphql_app_name }}.log
numprocs = 1
numprocs_start = 8000
startsecs = 10
stopasgroup = true
