# -*- conf -*-

[program:sm-graphql]
process_name = sm-graphql
environment = PATH="{{ miniconda_prefix }}/envs/{{ miniconda_env.name }}/bin",NODE_ENV="production"
directory = {{ sm_graphql_home }}
command = nodejs server.js
redirect_stderr = true
stdout_logfile = {{ sm_graphql_home }}/logs/sm-graphql.log
numprocs = 1
numprocs_start = 8000
