.sm-RichText .ProseMirror {
  @apply leading-normal min-h-full p-4 box-border;
  font-variant-numeric: proportional-nums;
}

.sm-RichText .ProseMirror-focused {
  outline: none;
}

/*
  Text formatting
  ---------------
  N.B. Numbers here do not follow the same "system" as Tailwind.
*/

.sm-RichText .ProseMirror * {
  margin: 0;
}

.sm-RichText .ProseMirror * + * {
  margin-top: 0.75rem;
}

.sm-RichText .ProseMirror h2 {
  @apply text-xl;
  line-height: 3rem;
}

.sm-RichText .ProseMirror h2 + * {
  margin-top: 0;
}

.sm-RichText .ProseMirror ul {
  padding-left: 1.5rem;
  list-style: outside;
}

.sm-RichText .ProseMirror li,
.sm-RichText .ProseMirror li > ul {
  margin-top: 0
}

.sm-RichText .ProseMirror sub,
.sm-RichText .ProseMirror sup {
  line-height: 1;
}

.sm-RichText .ProseMirror a {
  cursor: pointer;
}

.sm-RichText-placeholder:first-child::before {
  @apply float-left text-gray-600 pointer-events-none italic h-0 text-xl leading-tight;
  content: attr(data-empty-text);
}

/* Textarea overrides */

.sm-RichTextArea .ProseMirror * + * {
  margin-top: 0.5rem;
}

.sm-RichTextArea .ProseMirror h2 {
  @apply text-lg;
  line-height: 2.625rem; /* 1.5rem * 0.875 * 2 */
}
