.DS_Store
node_modules

/tests/e2e/videos/
/tests/e2e/screenshots/


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

clientConfig.json
db.sqlite
coverage*

# Dereferenced metadata files
/src/lib/metadataSchemas

# Copy of graphql schema for tests
/tests/utils/graphql-schema.json

# Compiled output
stats.json

# Passwords and other sensitive data
conf.js
src/clientConfig.json

# Screenshots taken by testcafe
tests/e2e/screenshots

# Build output
/dist
