.project-datasets-dialog {
  .el-dialog {
    @apply max-w-lg;

    .el-form-item {
      margin-bottom: 10px;
    }
    .el-form-item__label {
      line-height: 1.2em;
    }
  }

  .el-dialog__header {
    padding-bottom: 0;
  }

  .el-dialog__body {
    padding: 20px;
  }

  .dataset-checkbox-list {
    margin: 12px 0;
    max-height: 50vh;
    overflow: auto;
    box-shadow: inset 0 -10px 7px -10px lightgrey;
  }
  .select-buttons {
    margin: 12px 0;
  }
  .el-checkbox__label {
    @apply inline-flex flex-grow justify-between items-baseline overflow-hidden;
  }


  .button-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-top: 20px;
  }

  .select-link{
    @apply cursor-pointer underline;
    color: hsl(208, 93%, 44%);
  }

  .el-checkbox:last-of-type {
    @apply mx-2;
  }
}

