exports.PORT = "{{ port }}";
exports.GOOGLE_CLIENT_ID = "{{ google_client_id }}";
exports.COOKIE_SECRET = "{{ cookie_secret }}";
exports.JWT_SECRET = "{{ jwt_secret }}";

exports.ADMIN_EMAILS = "{{ admin_emails }}";

exports.AWS_ACCESS_KEY_ID = "{{ aws_access_key_id }}";
exports.AWS_SECRET_ACCESS_KEY = "{{ aws_secret_access_key }}";

exports.UPLOAD_DESTINATION = "S3";

exports.REDIS_CONFIG = {
  host: "{{ redis_host }}",
  port: "{{ redis_port }}"
}
