
#ionimage_flex_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
}

#ionimage_total img {
    /*max-height: 500px;
    width: 100%;
    object-fit: contain;*/
    max-width: 700px;
    min-height: 400px;
    object-fit: contain;
}

img.iso-image {
    max-height: 500px;
    width: 100%;
    object-fit: contain;
}

#ionimage_total_labels {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-start;
    padding: 0;
}

div.sm-navbar {
    margin-bottom: 5px;
}

#btnGroupRating #labelNotSure.active {
    background-color : grey;
}

#btnGroupRating #labelBad.active {
    background-color : red;
}

#btnGroupRating #labelGood.active {
    background-color : green;
}

#feedbackForm {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    align-items: center;
}

#textAreaComment {
    width: 50%;
    margin: 0 10px;
}

#google-sign-out {
    visibility: hidden;
}

table.dataTable > tbody > tr.correct {
    background-color: #dff0d8;
}

table.dataTable > tbody > tr.wrong {
    background-color: #f2dede;
}

table.dataTable > tbody > tr.selected {
    background-color: #B0BED9;
}