{
  "db": {
    "host": "localhost",
    "database": "sm",
    "user": "sm",
    "password": "*****"
  },
  "fs": {
    "base_path": "/opt/data/sm_data"
  },
  "hdfs": {
    "namenode": "localhost"
  },
  "spark": {
    "master": "local[*]",
    "spark.executor.memory": "2g",
    "spark.driver.memory": "4g",
    "spark.serializer": "org.apache.spark.serializer.KryoSerializer",
    "spark.kryoserializer.buffer.max": "128m"
  }
}
