[loggers]
keys=root,SM

[handlers]
keys=console

[formatters]
keys=SM


[formatter_SM]
format=%(asctime)s - %(levelname)s - %(name)s - %(filename)s:%(lineno)d - %(message)s

[handler_console]
class=logging.StreamHandler
formatter=SM
level=DEBUG
args=()

[logger_root]
level=WARN
handlers=console

[logger_SM]
level=DEBUG
handlers=console
propagate=0
qualname=SM