{% extends "main.html" %}

{% block add_includes %}
    <link rel="stylesheet" href="{{ static_url("js/fancybox/source/jquery.fancybox.css") }}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ static_url("css/jquery.dataTables.yadcf.css") }}" type="text/css" media="screen" />
    <script type="text/javascript" src="{{ static_url("js/fancybox/source/jquery.fancybox.pack.js") }}" ></script>

    <!-- AmCharts -->
    <script src="{{ static_url("js/d3.min.js") }}"></script>
    <script src="{{ static_url("js/amcharts/amcharts.js") }}"></script>
    <script src="{{ static_url("js/amcharts/serial.js") }}"></script>
    
    <script src="{{ static_url("js/jquery.dataTables.columnFilter.js") }}"></script>
    <script src="{{ static_url("js/fnGetAdjacentTr.js") }}"></script>
    <script src="{{ static_url("js/jquery.dataTables.yadcf.js") }}"></script>
{% end %}

{% block init_script %}
    <script type="text/javascript" class="init">
      $(document).ready(function() {
        var mz_array = [];

        var res_datasetids = [];
        var res_datasets = [];
        var res_alldatasets = [];
        var res_stats = [];
        var res_jobids = [];
        var tbl_demo;
        var current_dataset = -1;

        function set_dataset(id) {
          current_dataset = id;
          var j = 0;
          for (; j < res_datasetids.length; j++) {
            if (res_datasetids[j] == id) {
              break;
            }
          }
          $("#img-body").empty();
          if (j < res_datasetids.length) {
            $("#img-header").text("Images and statistics for dataset " + res_datasets[j]);
            $("#img-body").append('<div class="row"><div class="col-lg-8" style="text-align:right;">Average correlation with the monoisotopic (first) image:</div><div class="col-lg-4"><b><span id="span-corriso"></span></b></div></div><div class="row"><div class="col-lg-8" style="text-align:right;">Correlation with peak intensities:</div><div class="col-lg-4"><b><span id="span-corrint"></span></b></div></div><div class="row"><div class="col-lg-8" style="text-align:right;">Mean entropy:</div><div class="col-lg-4"><b><span id="span-meanent"></span></b></div></div><table id="tbl-images" width="100%"></table>');
            $("#span-corriso").text(res_stats[j]["corr_images"].toFixed(4));
            $("#span-corrint").text(res_stats[j]["corr_int"].toFixed(4));
            $("#span-meanent").text(res_stats[j]["mean_ent"].toFixed(4));
            $("#tbl-images").empty();
            $("#tbl-images").append('<tr id="tr-images"></tr>');
            for (var k=0; k < res_stats[j]["entropies"].length; k++) {
              $("#tr-images").append('<td><img width="100%" src="/mzimage/' + res_jobids[j] + 'p' + k + '.png"/></td>');
            }
            $("#tbl-images").append('<tr id="tr-imageent"></tr>');
            for (var k=0; k < res_stats[j]["entropies"].length; k++) {
              $("#tr-imageent").append('<td style="text-align:center;">Entropy: <b>' + res_stats[j]["entropies"][k].toFixed(3) + '</b></td>');
            }
          } else {
            $("#img-header").text("Run m/z extraction for dataset " + res_alldatasets[id]);
            $("#img-body").append('<div class="row"><div class="col-md-8">When you press this button, a Spark job will be initiated at the server side. It will appear in the list (updated every 5 seconds). When it finishes, <b>reload the page</b> to view the m/z image.</div><div class="col-md-4"><div class="pull-right"><button id="btn-runmz" class="btn btn-large btn-primary" type="button">Run m/z extraction for dataset ' + res_alldatasets[id] + '</button></div></div></div>');
            $('#btn-runmz').click(function() {
              $('#btn-runmz').addClass("disabled");
              // alert(mz_array_forspark.toString());
              $.post("/run/extractmzs", {
                "data" : mz_array_forspark.toString(),
                "formula_id" : subst_id,
                "dataset_id" : current_dataset
              });
            });
          }
        }

        $(".fancybox").fancybox();

        function select_row(row_object) {
            $(row_object).addClass('selected');
            var d = tbl_demo.row(row_object).data();
            var subst_id = d[4];
            // console.log( d );

            $.getJSON("/ajax/demosubst/" + d[8].toString() + "/" + subst_id + "/" + d[3] + "/", function (data) {
              console.log(data["data"][0]);
              var num_peaks = data["data"].length;
              var w_percent = 100 / num_peaks;
              mz_array = [];
              // console.log(data["spec"]);
              for (var i=0; i < data["spec"]["isodist_mzs"].length; i++) {
                var cur = { "mz" : data["spec"]["isodist_mzs"][i].toFixed(3),
                            "int" : data["spec"]["isodist_int"][i].toFixed(3) };
                mz_array.push(cur);
              }
              // console.log(mz_array);
              $("#molecular_chart").attr("style", "width: 100%; height: 300px;");
              var chart = sin_amchart_spectrum("molecular_chart", mz_array, '{{ static_url("js/amcharts/images/") }}');

              var col_w = num_peaks > 12 ? 1 : Math.floor(12 / num_peaks);
              $("#imagediv").empty();
              $("#imagediv").append('<div class="row" id="row-images"></div>');
              for (var i=0; i < num_peaks; i++) {
                $("#row-images").append('<div class="col-lg-' + col_w.toString() + '" id="col-img-' + i.toString() + '"></div>');
                var svg = d3.select("#col-img-" + i.toString()).append("svg").attr("width", "100%");
                var svg_datapoints = svg.selectAll(".p")
                    .data(data["data"][0]["val"])
                    .enter();

                svg_datapoints
                    .append("rect")
                    .attr("width", 2).attr("height", 2)
                    .attr("style", "fill:rgb(0,0,255);stroke-width:1;stroke:rgb(0,0,0)")
                    .attr("x",function(d, i){return data["data"][0]["x"][i] / 10;})
                    .attr("y",function(d, i){return data["data"][1]["x"][i] / 10;});
              }
            });

            $("#about-name").text( d[2] );
            $("#about-sf").text( d[3] );
            $('#a-fb-wishart').attr("href", "http://moldb.wishartlab.com/molecules/HMDB" + subst_id + "/image.png");
            $('#a-fb-wishart img').attr("src", "http://moldb.wishartlab.com/molecules/HMDB" + subst_id + "/thumb.png");
        }

        tbl_demo = $('#table-demo').DataTable( {
          ajax: "/ajax/demobigtable/",
          scrollY: "200px",
          dom: "rtiS",
          deferRender: true,
          processing: true,
          serverSide: false,
          paging:     false,
          bSortCellsTop: true,
          bSearchable: false,
          bStateSave: true,
          order: [[ 7, "desc" ]],
          // aLengthMenu: [51, 100, 250],
          "columnDefs": [
            { "render": function ( data, type, row ) { return sin_render_substance_small(row[4], data); }, "targets": [2] },
            // { "render": function ( data ) { return data.slice(0, 19).replace('T', ' '); }, "targets": [8] },
            // { "render": function ( data, type, row ) { if (row[4]) { return sin_render_time(data); } else { return ""; } }, "targets": [9] },
            // { "render": function ( data, type, row ) { return sin_render_dataset(row[0], data); }, "targets": [1] },
            // { "render": function ( data, type, row ) { return sin_render_job(row[2], row[1], data); }, "targets": [3] },
            // { "render": function ( data, type, row ) { return sin_render_tasks(row[6], data); }, "targets": [7] },
            // { "render": function ( data, type, row ) { if (row[5] != "SUCCEEDED") { return ""; } else {
              // return sin_render_jobresult(data); } }, "targets": [10] },
            { "visible": false,  "targets": [ 8 ] },
          ],
        } );
        
        yadcf.init(tbl_demo, [
          {column_number : 0, filter_type: "select", filter_container_id: "fil-db", filter_reset_button_text: false, filter_default_label: 'Select...'},
          {column_number : 1, filter_type: "select", filter_container_id: "fil-ds", filter_reset_button_text: false, filter_default_label: 'Select...'},
          {column_number : 2, filter_type: "text", filter_container_id: "fil-nm", filter_reset_button_text: false },
          {column_number : 3, filter_type: "text", filter_container_id: "fil-sf", filter_reset_button_text: false},
          {column_number : 4, filter_type: "text", filter_container_id: "fil-id", filter_reset_button_text: false},
          {column_number : 5, filter_type: "lower_bound_number", filter_container_id: "fil-sp",
            filter_reset_button_text: false, filter_default_label: ['&ge;']
          },
          {column_number : 6, filter_type: "lower_bound_number", filter_container_id: "fil-ic", filter_reset_button_text: false, filter_default_label: ['&ge;'] },
          {column_number : 7, filter_type: "lower_bound_number", filter_container_id: "fil-sc", filter_reset_button_text: false, filter_default_label: ['&ge;']}
          // {column_number : 7, filter_type: "range_number", filter_container_id: "fil-jb", filter_reset_button_text: false},
        ]);

        $('#table-demo tbody').on( 'click', 'tr', function () {
          if ( $(this).hasClass('selected') ) {
            $(this).removeClass('selected');
          }
          else {
            tbl_demo.$('tr.selected').removeClass('selected');
            select_row(this);
          }
        } );

        function handleKeyPress(e){
          var keycode;
          if (window.event) keycode = window.event.keyCode;
          else if (e) keycode = e.which;
          var direction = (keycode==38)?-1:(keycode==40)?1:0;
          if (direction != 0 && $('#table-demo tbody tr').hasClass('selected')){
            var tbl_demo_my = $("#table-demo").dataTable();
            var cur = tbl_demo_my.$('#table-demo tbody tr.selected');
            var next = tbl_demo_my.fnGetAdjacentTr( cur[0], (direction == 1) );
            cur.removeClass('selected');
            select_row(next);
          }
        }

        document.onkeydown = handleKeyPress;

      } );
{% end %}

{% block body %}
    <div class="panel panel-primary">
      <div class="panel-heading">Demo table</div>
      <table id="table-demo" class="table table-striped" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th>Database</th>
            <th>Dataset</th>
            <th>Name</th>
            <th>Molecular formula</th>
            <th>Database ID</th>
            <th>Spatial presence</th>
            <th>Image correlation</th>
            <th>Spectral correlation</th>
            <th>Job id</th>
          </tr>
          <tr>
            <th id="fil-db"></th>
            <th id="fil-ds"></th>
            <th id="fil-nm"></th>
            <th id="fil-sf"></th>
            <th id="fil-id"></th>
            <th id="fil-sp"></th>
            <th id="fil-ic"></th>
            <th id="fil-sc"></th>
            <th id="fil-jb"></th>
          </tr>
        </thead>
   
        <!--tfoot>
          <tr>
            <th>Database</th>
            <th>Dataset</th>
            <th>Name</th>
            <th>Molecular formula</th>
            <th>Database ID</th>
            <th>Spatial presence</th>
            <th>Image correlation</th>
            <th>Spectral correlation</th>
            <th>Job id</th>
          </tr>
        </tfoot-->
      </table>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="container-fluid">
          <div class="page-header">
            <div class="row">
              <h2 id="about-name"></h2>
            </div>
            <div class="row">
              <div class="col-md-6"><h3 id="about-sf"></h3></div>
              <div><a id="a-fb-wishart" class="fancybox" rel="group" href=""><img height="100%" src="" alt="" /></a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div id="molecular_chart"></div>
      </div>
    </div>

    <div id="imagediv">
    </div>


    <!--div class="panel panel-primary">
      <div class="panel-heading" id="img-header">Images and statistics</div>
      <div class="panel-body" id="img-body">
      <p>Choose a dataset from the dropdown menu on top right to view the results and/or run the corresponding job.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-primary">
          <div class="panel-heading">Run m/z extraction</div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-8">
                When you press this button, a Spark job will be initiated at the server side.
                  It will appear in the list (updated every 5 seconds). When it finishes, you will
                  be able to view the m/z image.
              </div>
              <div class="col-md-4">
                <div class="pull-right">
                  <button id="btn-runmz" class="btn btn-large btn-primary" type="button">Run m/z extraction</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-primary">
          <div class="panel-heading">m/z peak values</div>
          <table id="table-mzs" class="table table-striped" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th>m/z</th>
                <th>Intensity</th>
              </tr>
            </thead>
       
            <tfoot>
              <tr>
                <th>m/z</th>
                <th>Intensity</th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel panel-primary">
          <div class="panel-heading">m/z intensities graph</div>
          <div id="chartdiv" style="width: 100%; height: 400px;"></div>
        </div>
      </div>
    </div-->
  </div>
{% end %}


{% block modals %}
 <div class="modal fade" id="mzmodal">
  <div class="modal-dialog" style="width:80%;">
    <div class="modal-content"><div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title">m/z images</h4>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-lg-8" style="text-align:right;">Average correlation with the monoisotopic (first) image:</div>
        <div class="col-lg-4"><span id="span-corriso"></span></div>
      </div>
      <div class="row">
        <div class="col-lg-8" style="text-align:right;">Correlation with peak intensities:</div>
        <div class="col-lg-4"><span id="span-corrint"></span></div>
      </div>
      <p>The images below correspond to individual isotope peaks. Image entropies are shown below the images.</p>
      <div id="mz-body">
      </div>
    </div>
  </div>
{% end %}

