recommonmark
coverage
codecov
pylint==4.0.7  # to prevent new pylint rules failing CI job
black==26.5.1  # to prevent new black rules failing CI job
boto3-stubs[s3]==1.43.79  # Must match boto3. Install becomes very slow if not specified
mypy_boto3_builder
pytest-xdist
fasteners