# -*- conf -*-

[program:sm-web-app]
process_name = sm-web-app-%(process_num)s
directory = /opt/dev/sm
command = bash scripts/run_web.sh sm/webapp/webserver.py --config conf/config.json --port=8080
redirect_stderr = true
stdout_logfile = {{ sm_home }}/logs/sm-web-app.log
numprocs = 1
numprocs_start = 8000
