.sm-table {
  width: 100%;
  color: #909399;
  font-size: 14px;
  border-spacing: 0;
}

.sm-table th {
  text-align: left;
  border-bottom: 1px solid #EBEEF5;
}

.sm-table th, .sm-table td {
  padding: 16px 0;
}

.sm-table-empty-row {
  text-align: center;
}


.sm-table-user-details tr > :nth-child(1) {
  width: 40%;
}

.sm-table-user-details tr > :nth-child(2) {
  width: 20%;
}

.sm-table-user-details tr > :nth-child(3) {
  text-align: right;
  width: 20%;
}

.sm-table-user-details tr > :nth-child(4) {
  text-align: right;
  width: 20%;
}
