.dataset-enrichment-chart-container{
  .heat-text{
    position: absolute;
    right: -31px;
    top: 49%;
    transform: rotate(-90deg);
    font-size: 12px;
  }

  .echarts {
    width: 100%;
  }

  .chart{
    @apply flex flex-row items-center justify-center;
    width: 100%;
  }

  .dataset-browser-empty-spectrum{
    @apply border-2 border-dashed border-gray-200 relative rounded m-6 p-2 flex flex-row items-center justify-center;
    background: white;
  }

  .chart-holder{
    @apply flex flex-col items-center justify-start relative;
    min-height: 500px;
    width: 100%;
    background: white;
    height: 100%;
  }

  .loader-holder{
    @apply absolute flex flex-row items-start justify-center;
    height: 100%;
    width: 100%;
    background: white;
    padding-top: 30%;
  }

}


