{% extends "main.html" %}

{% block add_includes %}
    <link rel="stylesheet" href="{{ static_url("js/fancybox/source/jquery.fancybox.css") }}" type="text/css" media="screen" />
    <script type="text/javascript" src="{{ static_url("js/fancybox/source/jquery.fancybox.pack.js") }}" ></script>

    <!-- AmCharts -->
    <script src="{{ static_url("js/d3.min.js") }}"></script>

{% end %}


{% block init_script %}
    <script type="text/javascript" class="init">
      var pixel_size = 4;
      var colors = ['#352A87', '#0268E1', '#108ED2', '#0FAEB9', '#65BE86', '#C0BC60', '#FFC337', '#F9FB0E'];

      var imdata1 = null;
      var imdata2 = null;
      var newdata = null;
      var post_enabled = false;

      function post_result(chosen) {
        if (post_enabled) {
          $.ajax({
            type:   "POST",
            url:    "/ajax/postgameimages/",
            success: function() {
              console.log('success!');
              render_images();
              return false;
            },
            data: {
              "m1_job_id" : imdata1["meta"]["job_id"],
              "m1_dataset_id" : imdata1["meta"]["dataset_id"],
              "m1_formula_id" : imdata1["meta"]["formula_id"],
              "m1_adduct" : imdata1["meta"]["adduct"],
              "m1_param" : imdata1["meta"]["param"],
              "m1_peak" : imdata1["meta"]["peak"],
              "m2_job_id" : imdata2["meta"]["job_id"],
              "m2_dataset_id" : imdata2["meta"]["dataset_id"],
              "m2_formula_id" : imdata2["meta"]["formula_id"],
              "m2_adduct" : imdata2["meta"]["adduct"],
              "m2_param" : imdata2["meta"]["param"],
              "m2_peak" : imdata2["meta"]["peak"],
              "chosen" : chosen
            }
          });
        }
      }

      function render_image(selector, imdata, res) {
        $(selector).empty();
        sin_render_ionimage(selector, imdata['data'], imdata["coords"],
          pixel_size, colors, imdata["max_x"], imdata["max_y"], true);
        $(selector).click(function(e) {
          e.preventDefault();
          // console.log(imdata["meta"]);
          post_result(res);
          post_enabled = false;
        });
      }

      function render_images() {
        switch_data();
        render_image('#image1', imdata1, 1);
        render_image('#image2', imdata2, 2);
        post_enabled = true;
        fetch_images(false);
      }

      function switch_data() {
        imdata1 = newdata[0];
        imdata2 = newdata[1];
      }

      function fetch_images(render) {
        console.log("...fetching...");
        $.getJSON("/ajax/imagegame/", function (data) {
          console.log(data);
          newdata = [ data['im1'], data['im2'] ];
          if (render) {
            render_images();
          }
        });
      }

      $(document).ready(function() {
        $("#nav-gameimages").addClass("active");
        $("#nav-gameimages a").attr("href", "#");
        $("#nav-gameimages a").html( $("#nav-gameimages a").html() + ' <span class="sr-only">(current)</span>' );

        fetch_images(true);
      } );
    </script>
{% end %}

{% block body %}
    <div class="panel panel-primary">
      <div class="panel-heading">The Structured Image Game</div>
      <div class="panel-body">
        <p>Click on the image that you find better structured.</p>
      </div>
    </div>
    <div class="panel panel-primary">
      <!-- <div class="panel-heading">Spark jobs</div> -->
      <div class="panel-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-6">
              <div class="container-fluid">
                <div class="row">
                  <div id="image1" style="cursor: pointer;"></div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="container-fluid">
                <div class="row">
                  <div id="image2" style="cursor: pointer;"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% end %}


