<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Test server on Spark</title>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" > -->
    <link href="{{ static_url("css/bootstrap.min.css") }}" rel="stylesheet">
    <link href="{{ static_url("css/chosen.min.css") }}" rel="stylesheet">
    <link href="{{ static_url("css/jquery.dataTables.css") }}" rel="stylesheet">
    <link href="{{ static_url("css/sin.css") }}" rel="stylesheet">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

    <script src="{{ static_url("js/jquery.min.js") }}"></script>
    <script src="{{ static_url("js/jquery.dataTables.js") }}"></script>
    <!--script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script-->
    <script src="{{ static_url("js/bootstrap.min.js") }}"></script>
    <script type="text/javascript" charset="utf8" src="{{ static_url("js/sin.js") }}"></script>

    {% block add_includes %}
    {% end %}
    
    {% block init_script %}
    <script type="text/javascript" class="init">
      $(document).ready(function() {
      } );
    {% end %}
    </script>
  </head>
  <body>
    <div class="container">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Spatial metabolomics server</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li id="nav-formulas"><a href="/">Formulas</a></li>
            <li id="nav-jobs"><a href="/jobs/">Spark jobs</a></li>
            <li id="nav-datasets"><a href="/datasets/">Datasets</a></li>
            <li id="nav-demo"><a href="/demo/">Demo</a></li>
            <li id="nav-gameimages"><a href="/gameimages/">Image game</a></li>
          </ul>
          <p id="navbarid" class="navbar-brand navbar-right" href="#">
            {% if not sparkactivated %} SPARK DISABLED {% end %}
          </p>
          <p id="navbarname" class="navbar-brand navbar-right"></p>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    {% block body %}
    {% end %}


    {% block modals %}
    {% end %}
  </body>
</html>
