{
  "graphqlUrl": "{{ graphql_url }}",
  "wsGraphqlUrl": "{{ graphql_ws_public_endpoint }}",

  "google_client_id": "{{ google_client_id }}",

  "fineUploader": {
    "aws": {
      "access_key_id": "{{ aws_access_key_id }}",
      "region": "{{ aws_region }}",
      "s3_bucket": "{{ s3_bucket }}",
      "s3_signature_endpoint": "/upload/s3/sign",
      "s3_signature_version": 2
    },
    "storage": "{{ upload_destination }}"
  }
}
